import('splines')
importFrom("graphics", "lines", "plot")
importFrom("stats", "quantile", "rnorm", "runif")
useDynLib(tensorMam, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(mam,mam_dr,mam_sparse,mam_sparse_dr,plotfuns,TransferModalUnfoldings,generateData)
